 <header class="bar bar-header bar-stable">
      <h1 class="title">&nbsp;</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ng-controller="RopprojectsCtrl" ng-click="refreshProjects()">
          <i class="icon ion-refresh"s></i>&nbsp;&nbsp;Refresh
        </ion-item>
        <ion-item nav-clear menu-close ng-controller="RopprojectsCtrl" ng-click="createWfeObject()">
          <i class="icon ion-plus"></i>&nbsp;&nbsp;Create Project
	     </ion-item>
		  <ion-item nav-clear menu-close ng-controller="RopprojectsCtrl" ng-click="searchProjects()" >
          <i class="icon ion-home"></i>&nbsp;&nbsp;Search project
   

        </ion-item>
		
      </ion-list>
    </ion-content>