<div class="small">ID</div>
      <div id="id" style="padding: 5px" ><%=data._id%></div>
<div class="small">Description</div>	  
      <input type="text" id="description" value="<%=data.doc.description%>" />
	  <input type="text" id="monchia" value="<%=data.doc.monchia%>" />
	  <input type="text" id="sonchia" value="<%=data.doc.sonchia%>" />